@page "/Management"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Syncfusion.Blazor.Popups
@using Syncfusion.PdfExport
@using Task_management_system.Areas.Identity
@using Task_management_system.Data
@using Task_management_system.Interfaces
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@attribute [Authorize(Roles = "Admin")]


<div class="frame container">
    <img class="banner" src="img/Users-01.svg" alt="Banner">
    <div class="bottom-left">

        <h3>Потребители</h3>
        <nav class="navbar navbar-expand">
            <!-- Left navbar links -->
            <ul class="navbar-nav float">
                <li class="nav-item d-sm-inline-block">

                    <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="AddApplicationUser" disabled="@(this.DisableAllFields)">Нов потребител</button>

                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <SfGrid ID="usersGrid" DataSource="users" AllowSorting="true" AllowFiltering=true EnableAltRow="true" EnableHover="false"
                    AllowTextWrap="true" @ref="usersGrid" AllowSelection="true" Toolbar="@(new List<string>() { "ExcelExport", "PdfExport" })"
                    AllowExcelExport="true" AllowPdfExport="true" AllowPaging="true" ContextMenuItems="@(new List<object>() { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending", "FirstPage", "PrevPage","LastPage", "NextPage"})">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                <GridEvents OnToolbarClick="ToolbarClick" TValue="ApplicationUser"></GridEvents>
                <GridColumns>



                    <GridColumn Field=@nameof(ApplicationUser.UserName) HeaderText="Потребителско име" IsPrimaryKey="true" Width="200px"></GridColumn>
                    <GridColumn Field=@nameof(ApplicationUser.FirstName) HeaderText="Име" Width="200px"></GridColumn>
                    <GridColumn Field=@nameof(ApplicationUser.LastName) HeaderText="Фамилия" Width="200px"></GridColumn>
                    <GridColumn Field=@nameof(ApplicationUser.Email) HeaderText="Имейл" Width="300px"></GridColumn>
                    <GridColumn Field=@nameof(ApplicationUser.PhoneNumber) HeaderText="Телефон" Width="100px"></GridColumn>
                    <GridColumn HeaderText="Роля" Width="180px">
                        <Template>
                            @{
                                var user = (context as ApplicationUser);

                                if (userRoles.Any() && userRoles.ContainsKey(user.UserName))
                                {
                                    string role = userRoles[user.UserName];
                                    @role
                                }


                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Width="100px">
                        <Template>
                            <SfTooltip Position="Position.BottomCenter" Content="Редактиране" OpensOn="Hover">
                                <button type="button" class="btn btn-outline-warning waves-effect md-trigger" @onclick="(() => EditUser(context as ApplicationUser))">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </SfTooltip>
                        </Template>
                    </GridColumn>
                    <GridColumn Width="100px">
                        <Template>
                            <SfTooltip Position="Position.BottomCenter" Content="Изтриване" OpensOn="Hover">
                                <button type="button" class="btn btn-outline-danger waves-effect md-trigger" @onclick="(() => DeleteUser(context as ApplicationUser))">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </SfTooltip>
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
<ToastMsg @ref="toast" />
<ManagementModal @ref="managementModal" CallbackAfterSubmit="UpdateAfterManagementModalSubmitAsync" />

@code {
    //https://learn.microsoft.com/en-us/aspnet/core/blazor/security/?view=aspnetcore-7.0



    private bool documentDeleteConfirmed = false;
    private bool showDocumentConfirmDialog = false;
    private ManagementModal managementModal = new ManagementModal();
    Dictionary<string, string> userRoles = new Dictionary<string, string>();
    private SfGrid<ApplicationUser> usersGrid = new SfGrid<ApplicationUser>();
    private ToastMsg toast = new ToastMsg();
    private async Task UpdateData()
    {
        var users = UserService.GetAllUsers();
        var itemToRemove = users.Remove(users.Single(r => r.UserName == httpContextAccessor.HttpContext.User.Identity.Name));
        var roles = roleManager.Roles.ToList();
        this.users = users;
        this.roles = roles;
        userRoles.Clear();
        foreach (var user in this.users)
        {
            userRoles.Add(user.UserName, (await UserService.GetRoleAsync(user)).Contains("Admin") ? "Администратор" : "Потребител");
        }

    }
    private async Task UpdateAfterManagementModalSubmitAsync()
    {
       await UpdateData();

        await this.usersGrid.Refresh();
        this.StateHasChanged();
    }
    [Parameter]
    public bool DisableWhenProcedureIsCompleted { get; set; }

    [Parameter]
    public bool DisableAllFields { get; set; }


    [Inject]
    public IJSRuntime JsRuntime { get; set; }
    [Inject]
    public IUserService UserService { get; set; }


    public List<IdentityRole> roles { get; set; }
    public List<ApplicationUser> users { get; set; }

    public int RowCounter = 0;
    SfGrid<ApplicationUser> sfGrid { get; set; }
    [Inject]
    private Context context { get; set; }
    [Inject]
    private IHttpContextAccessor httpContextAccessor { get; set; }
    private async Task AddApplicationUser()
    {
        managementModal.OpenDialog(new ApplicationUser());
    }
    private async Task DeleteUser(ApplicationUser applicationUser)
    {

        var result = await UserService.DeleteApplicationUser(applicationUser);

        var users = UserService.GetAllUsers();
        if (result.StartsWith("Успешно"))
        {
            toast.sfSuccessToast.Title = result;
            toast.sfSuccessToast.ShowAsync();


        }
        else
        {
            toast.sfErrorToast.Title = result;
            toast.sfErrorToast.ShowAsync();
        }
        var itemToRemove = users.Remove(users.Single(r => r.UserName == httpContextAccessor.HttpContext.User.Identity.Name));
        var roles = roleManager.Roles.ToList();
        this.users = users;
        this.roles = roles;
        this.StateHasChanged();

    }

    private async Task EditUser(ApplicationUser applicationUser)
    {

        managementModal.OpenDialog(applicationUser);
    }

    protected async Task ToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "usersGrid_pdfexport")
        {
            int temp = usersGrid.PageSettings.PageSize;
            usersGrid.PageSettings.PageSize = users.Count();
            await usersGrid.Refresh();
            PdfExportProperties ExportProperties = new PdfExportProperties();

            List<GridColumn> ExportColumns = new List<GridColumn>();
#pragma warning disable BL0005

            ExportColumns.Add(new GridColumn() { Field = nameof(ApplicationUser.UserName), HeaderText = "Потребителско име", Width = "80", TextAlign = TextAlign.Left });
            ExportColumns.Add(new GridColumn() { Field = nameof(ApplicationUser.FirstName), HeaderText = "Име", Width = "80", TextAlign = TextAlign.Left });
            ExportColumns.Add(new GridColumn() { Field = nameof(ApplicationUser.LastName), HeaderText = "Фамилия", Width = "80", TextAlign = TextAlign.Left });
            ExportColumns.Add(new GridColumn() { Field = nameof(ApplicationUser.Email), HeaderText = "Имейл", Width = "80", TextAlign = TextAlign.Left });

#pragma warning restore BL0005

            ExportProperties.Columns = ExportColumns;
            ExportProperties.PageOrientation = PageOrientation.Landscape;
            ExportProperties.IncludeTemplateColumn = true;
            PdfTheme Theme = new PdfTheme();
            PdfThemeStyle RecordThemeStyle = new PdfThemeStyle()
                {
                    Font = new PdfGridFont() { IsTrueType = true, FontStyle = PdfFontStyle.Regular, FontFamily = FontFamilyPDF.fontFamilyBase64String }
                };

            PdfThemeStyle HeaderThemeStyle = new PdfThemeStyle()
                {
                    Font = new PdfGridFont() { IsTrueType = true, FontStyle = PdfFontStyle.Bold, FontFamily = FontFamilyPDF.fontFamilyBase64String }
                };
            Theme.Record = RecordThemeStyle;
            Theme.Header = HeaderThemeStyle;

            ExportProperties.Theme = Theme;
            ExportProperties.FileName = $"Потребители.pdf";
            usersGrid.PageSettings.PageSize = temp;
            await usersGrid.Refresh();
            await this.usersGrid.ExportToPdfAsync(ExportProperties);

        }
        else if (args.Item.Id == "usersGrid_excelexport")
        {
            ExcelExportProperties ExportProperties = new ExcelExportProperties();
            List<GridColumn> ExportColumns = new List<GridColumn>();
#pragma warning disable BL0005
            ExportColumns.Add(new GridColumn() { Field = nameof(ApplicationUser.UserName), HeaderText = "Потребителско име", Width = "80", TextAlign = TextAlign.Left });
            ExportColumns.Add(new GridColumn() { Field = nameof(ApplicationUser.FirstName), HeaderText = "Име", Width = "80", TextAlign = TextAlign.Left });
            ExportColumns.Add(new GridColumn() { Field = nameof(ApplicationUser.LastName), HeaderText = "Фамилия", Width = "80", TextAlign = TextAlign.Left });
            ExportColumns.Add(new GridColumn() { Field = nameof(ApplicationUser.Email), HeaderText = "Имейл", Width = "80", TextAlign = TextAlign.Left });

#pragma warning restore BL0005

            ExportProperties.Columns = ExportColumns;
            ExportProperties.FileName = $"Потребители.xlsx";
            await this.usersGrid.ExportToExcelAsync(ExportProperties);
        }
    }
    protected async override Task OnInitializedAsync()
    {
        UpdateData();
     
    }

    public async Task<int> GetRowCounter(IdentityRole val)
    {
        RowCounter = roles.IndexOf(val);
        return RowCounter + 1;
    }




}
