@page "/Calendar"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.PdfExport
@using Task_management_system.Areas.Identity
@using Task_management_system.Data
@using Task_management_system.Interfaces
@using Task_management_system.Models
@using Task_management_system.Pages
@using Syncfusion.Blazor.Schedule
@using Task_management_system.Pages.Issues
@attribute [Authorize(Roles = "Admin, User")]
<div class="content-wrapper">
    <div>
        <div class="frame container">
            <img class="banner" src="img/Calendar-01.svg" alt="Banner">
            <div class="bottom-left">
                <h3>Календар</h3>
            </div>
        </div>
        <div class="m-3">
            <SfSchedule TValue="Issue" Height="auto" Width="auto" SelectedDate="@DateTime.Now" CurrentView="View.Month">
                <ScheduleEventSettings DataSource="@issues" AllowAdding="false" AllowDeleting="false"></ScheduleEventSettings>
                <ScheduleEvents TValue="Issue" OnPopupOpen="OnPopupOpen" Dragged="OnDragged" Resized="OnResized"></ScheduleEvents>
                <ScheduleViews>
                    <ScheduleView Option="View.Day"></ScheduleView>
                    <ScheduleView Option="View.Week"></ScheduleView>
                    <ScheduleView Option="View.WorkWeek"></ScheduleView>
                    <ScheduleView Option="View.Month"></ScheduleView>
                    <ScheduleView Option="View.Agenda"></ScheduleView>
                </ScheduleViews>
            </SfSchedule>
        </div>
    </div>
</div>
<style>
    .e-popup-footer {
        display: none !important;
    }
    .e-add {
        display: none !important;
    }
</style>
<ToastMsg @ref="toast" />
<IssueModal @ref="issueModal" CallbackAfterSubmit="UpdateAfterIssueModalSubmitAsync" />
