@page "/"
@layout UserLayout
<PageTitle>Моят ден</PageTitle>

@inject Data.LoginState loginState;
@if (loginState.IsLoggedIn.Equals(false))
{
    NavToLogin();
}
else
{
    <h1 style="text-align:center">Successful Login!</h1>
    <div style="text-align:center">
        <p> Thanks for logging in @loginState.loggedUser.Username!</p>
    </div>
}

