@using Syncfusion.Blazor.DropDowns
@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Inputs
@using Task_management_system.Areas.Identity
@using Task_management_system.Pages.Common
@using Task_management_system.Services.Common
@using Syncfusion.Blazor.Popups
@inject IProjectService ProjectService


<SfDialog Width="700px" Height="400px" IsModal="true" ShowCloseIcon="true" EnableResize="true" AllowDragging="true" @bind-Visible="@IsVisible">
    <DialogTemplates>
        <Header>
           <span style="color: #009cfc;">@this.project.ProjectName</span></Header>
        <Content>

            <EditForm EditContext="editContext">

                <DataAnnotationsValidator />

                <div class="row">
                    <div class="col-md-4">
                        <label for="userName">Име на проект</label>
                        <InputText id="userName" @bind-Value="project.ProjectName" class="form-control"></InputText>
                        <ValidationMessage For="@(() => project.ProjectName)" />
                    </div>
                    <div class="col-md-4">
                        


                    </div>
                    
                </div>
                <label for="description">Описание на проект</label>
                <div class="multiline">
                    <SfTextBox id="description" Multiline=true Placeholder="Enter your address" Value="@project.ProjectDescription"></SfTextBox>
                </div>
                <div class="row">
                    
                </div>


            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="form-group">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" @onclick="SaveUser">Запиши</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Отказ</button>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
<ToastMsg @ref="toast" />

