@page "/Projects"
<PageTitle>Проекти</PageTitle>
<h2>Проекти</h2>
<AuthorizeView>
    <Authorized>
        @if (isAdmin)
        {

        }


    </Authorized>
    <NotAuthorized>
        @* For unauthorized users *@
        
    </NotAuthorized>
</AuthorizeView>
   

}
<div>
</div>
@code {
    bool isAdmin = false;
    [Inject]
    private IUserService userService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        
        isAdmin = await userService.IsLoggedUserAdmin();
    }
}
