/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

@font-face {
    font-family: SegoeUI;
    src: url(~/css/fonts/SEGUIVARDISPLAY.TTF);
}

@font-face {
    font-family: SegoeUIBold;
    src: url(~/css/fonts/SEGUIVARBOLD.TTF);
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}


@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }


    .container {
        max-width: 960px;
    }

    .pricing-header {
        max-width: 700px;
    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: scroll;
        white-space: nowrap;
        /* Set the fixed height of the footer here */
        height: 60px;
        line-height: 60px; /* Vertically center the text there */
    }


    .form-control {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 {
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%) !important;
}

button.navbar-toggler {
    color: white;
    background: white
}

nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 * {
    color: white !important;
}

body > .container {
    padding: 3rem !important;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color:;
    --bs-card-subtitle-color:;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow:;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color:;
    --bs-card-height:;
    --bs-card-color:;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

a#enable-authenticator {
    margin-bottom: 5px;
}

input {
    margin-bottom: 0.5rem;
}

button {
    margin-bottom: 0.5rem;
}

button#logout {
    margin: 0px;
}

a#manage {
    margin: 0px;
}