@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link rel="stylesheet" href="~/OwnIdentity/css/site.css" type="text/css" />
<h1>Управление на профила Ви</h1>

<div>
    <h4>Промяна на настройките на профила Ви</h4>
    <hr />
    <div class="row g-9">
        <div class="col-md-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
