@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Генериране на кодове за възстановяване на двуфакторно удостоверяване (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Съхранявайте тези кодове на сигурно място.</strong>
    </p>
    <p>
        Ако изгубите устройството си и не разполагате с кодовете за възстановяване, ще загубите достъп до профила си.
    </p>
    <p>
        Генерирането на нови кодове за възстановяване не променя ключовете, използвани в приложенията за удостоверяване. Ако желаете да промените ключа
        използван в приложение за удостоверяване, трябва да <a asp-page="./ResetAuthenticator">нулирате ключовете си на удостоверителя.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Генериране на кодове за възстановяване</button>
    </form>
</div>
