@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Двуфакторно удостоверяване (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Нямате запазени кодове за възстановяване.</strong>
                    <p>Трябва да <a asp-page="./GenerateRecoveryCodes">генерирате нов набор от кодове за възстановяване</a> преди да можете да влезете с код за възстановяване.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Остава Ви 1 код за възстановяване.</strong>
                    <p>Трябва да <a asp-page="./GenerateRecoveryCodes">генерирате нов набор от кодове за възстановяване.</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Остават Ви @Model.RecoveryCodesLeft кодове за възстановяване.</strong>
                    <p>Трябва да <a asp-page="./GenerateRecoveryCodes">генерирате нов набор от кодове за възстановяване.</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Забравете този браузър</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Деактивиране на 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Нулиране на кодовете за възстановяване</a>
        }

        <h4>Приложение за удостоверяване</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Добавяне на приложение за удостоверяване</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Настройка на приложение за удостоверяване</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Нулиране на приложението за удостоверяване</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Политиката за поверителност и бисквитките не са приети.</strong>
            <p>Трябва да приемете политиката, преди да активирате двуфакторното удостоверяване.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
