@using Microsoft.AspNetCore.Components



<b>@CardHeaderTitle</b>

<div style="display: flex;" class="my-2" @onclick="Toggle">
    <div style="flex: 1;">@CardHeader</div>

    <div class="list-group-item rounded d-flex justify-content-between align-items-center" style="flex: 0; border-top-width: 1px; margin-left: 5px; background-color: #f8f8ff">
        <div class="@BtnClass2">
            <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>
</div>


@if (ShowCardBody)
{
    <div class="@BtnClass">


        @CardBody

    </div>



}


@code {
    [Parameter] public RenderFragment CardBody { get; set; }
    [Parameter] public RenderFragment CardHeader { get; set; }
    [Parameter] public string CardHeaderTitle { get; set; }


    [Parameter] public bool ShowCardBody { get; set; } = false;
    public string BtnClass => ShowCardBody ? "collapse show" : "collapse";
    public string BtnClass2 => ShowCardBody ? "icon-rotate rotate" : "icon-rotate";
    public void Toggle()
    {

        ShowCardBody = !ShowCardBody;
    }
}