@using Microsoft.AspNetCore.Components



<b>@CardHeaderTitle</b>

<div @onclick="Toggle">@CardHeader</div>


@if (ShowCardBody)
{

    @CardBody

}


@code {
    [Parameter] public RenderFragment CardBody { get; set; }
    [Parameter] public RenderFragment CardHeader { get; set; }
    [Parameter] public string CardHeaderTitle { get; set; }


    [Parameter] public bool ShowCardBody { get; set; } = false;
    public string BtnClass => ShowCardBody ? "oi oi-collapse-up" : "oi oi-collapse-down";
    public void Toggle()
    {
        ShowCardBody = !ShowCardBody;
    }
}