@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение на забравена парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Моля, проверете електронната си поща, за да възстановите паролата си.
</p>
