@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Получаване на потвърждение за промяна на паролата";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вашата парола е променена. Моля, <a asp-page="./Login">кликнете тук, за да влезете в системата</a>.
</p>
