@inherits LayoutComponentBase

<PageTitle>Task management system</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenuLogin />
    </div>

    <main class="page-background-class">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4 page-background-class">
            @Body
        </article>
    </main>
</div>
