@using Task_management_system.Data
@inherits LayoutComponentBase

<PageTitle>Система за управление на задачи</PageTitle>

<div class="page">
    <div class="sidebar">

        <AuthorizeView>
            <Authorized>
                @if (isAdmin)
                {


                    <AdminNavMenu />
                }
                else
                {
                    <NavMenu />
                }


            </Authorized>
            <NotAuthorized>
                @* For unauthorized users *@
                <NavMenuLogin />
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool isAdmin = false;

    [Inject]
    private IUserService userService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (await userService.GetLoggedUser() != null)
        {
            isAdmin = await userService.IsLoggedUserAdmin();
        }
    }
}