@using Task_management_system.Data
@using Task_management_system.Interfaces
@inherits LayoutComponentBase

<PageTitle>Система за управление на задачи</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">

                @if (isAdmin)
                {
                    <AdminNavMenu />
                }
                else
                {
                    <NavMenu />
                }
            </div>
        </Authorized>
        <NotAuthorized>
            @* For unauthorized users *@
            @*<NavMenuLogin />*@
        </NotAuthorized>
    </AuthorizeView>
    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4" style="padding: 10px !important">
                    <LoginDisplay />

                </div>

                <article class="content px-4">
                    @Body
                </article>
            </Authorized>
            <NotAuthorized>
                <div class="content px-4" style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); height: 100vh;     display: flex;
                                                 justify-content: center;
                                                 align-items: center;">
                    @Body
                </div>

            </NotAuthorized>
        </AuthorizeView>
    </main>
</div>

@code {
    private bool isAdmin = false;

    [Inject]
    private IUserService userService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (userService.GetLoggedUser() != null)
        {
            isAdmin = userService.IsLoggedUserAdmin();
        }
    }
}