@using Task_management_system.Data
@inherits LayoutComponentBase

<PageTitle>Система за управление на задачи</PageTitle>

<div class="page">
    <div class="sidebar">
        @*@if (loginState.IsLoggedIn)
        {
            @if (loginState.loggedUser.RoleId==1)
            {
                <AdminNavMenu />
            }
            else
            {
                <NavMenu />
            }

        }
        else
        {
            <NavMenuLogin />
        }*@
        <NavMenuLogin />
    </div>
    @*
    @if (loginState.IsLoggedIn)
            {
    <main>
        <div class="top-row px-4">
            @if (loginState.IsLoggedIn)
            {

                <a href="https://docs.microsoft.com/aspnet/" target="_blank">@loginState.loggedUser.Username</a>
            }

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
            } else {
        <main class="page-background-class">
            <div class="top-row px-4">
                @if (loginState.IsLoggedIn)
                {

                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">@loginState.loggedUser.Username</a>
                }

            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    }*@
    <main>
        <div class="top-row px-4">
            
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
         
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    
}